#tablewrap {
    margin: auto;
    margin-top: 30px;
    width: 50%;
}
#formwrap {
    margin: auto;
    margin-top: 50px;
    width: 50%;
}
#newuser {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
li {
    background-color: antiquewhite;
}
#edituser {
    width: 50%;
    margin: 40px, auto;
}
#addnew {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 20px;
}
#addnewbtn {
    margin:auto;
}